<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ActionPage</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="form">

<h3 align="center">Здравствуйте, <span th:text="${user.getFirstName()}">...</span></h3>
<div>
    <h4>Выберите действие:</h4>

    <a th:href="@{/user/viewuserinfo/{id}(id=${user.getUserId()})}">
        <button>К своему профилю</button>
    </a>
    <br>
    <a th:href="@{/user/viewall/}">
        <button>Получить Список пользователей</button>
    </a>
    <br>

    <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/user/create/}">
        <button>Зарегистрировать пользователя</button>
    </a>
    <br>

    <a th:href="@{/group/}">
        <button>Перейти к сервису групп</button>
    </a>
<br>
    <a th:href="@{/logout}">
        <button>Выйти</button>
    </a>
</div>
</div>

</body>
</html>