<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="form">
<div  align="center">
    <h3>Обновление информации</h3>
    <div>
        <h4>Заполните форму группы:</h4>
        <form method="post" th:object="${groupForm}">
            <input placeholder="Название" th:value="${groupForm.getGroupName()}" name="groupName" type="text"><br>
            <input placeholder="Описание" th:value="${groupForm.getDescription()}" name="description" type="text"><br>
            <input type="submit" value="Обновить">
            <br>
            <a th:href="@{/user/}">
                <button>на главную</button>
            </a>

        </form>
    </div>
</div>
</body>
</html>